/* .body_content {
  width: 100%;
  margin: 0 10px;
}

.story_queue-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learn-mode {
  display: flex;
  justify-content: end;
}
.story_queue-single {
  display: flex;
  justify-content: end;
}

.question {
  height: 160px;
  margin-bottom: 10px;
}

.answer {
  height: 250px;
  margin-bottom: 10px;
} */
