
.image-svg {
  position: relative;
  width: 285px;
  height: 250px;
  top: -2%;
  left: 2%;
}
.talk-bubble-content {
  position: absolute;
  top: 15.5%;
  left: 25%;
  font-size: 10.5px;
  line-height: 1.9;
  font-weight: 600;
  width: 165px;
  padding-right: 5px;
}
